body {
    background-image: url('./R.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container {
    max-width: 600px;
}

.form-control {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.btn-primary, .btn-outline-secondary {
    border-radius: 10px;
}
